<%- include('partials/header'); -%>

<h1>Home</h1>
<br />

<ul>
  <span> If you want to see the protected content: </span>
  <li><a class="btn2" href="/content">See the Protected Content</a></li>
</ul>
